body {
  margin: 0;
  font-family: Arial;
  color: white;
  background: linear-gradient(black, #020617);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px;
  background: url('https://i.imgur.com/JYUB0m3.png');
  background-size: cover;
}

.card {
  margin: 20px;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
}

section {
  padding: 50px;
  text-align: center;
}

